Repository Obsywon/Escapade, pull requests merged in 2023-12, with the labels that each got.

#47 26 front theme adapte
  frontend/App.tsx
  frontend/assets/fonts/fontastique.ttf
  frontend/components/AppTitle.tsx
  frontend/components/LoadingSurface.tsx
  frontend/components/MainTitle.tsx
  frontend/components/forms/BasicButton.tsx
  frontend/components/forms/BasicTextInput.tsx
  frontend/components/forms/DatePicker.tsx
  frontend/components/forms/EmailInput.tsx
  frontend/components/forms/PasswordInput.tsx
  frontend/hooks/useCustomFonts.tsx
  frontend/hooks/useEmailInput.tsx
  frontend/hooks/useVerifiedPasswordInputs.tsx
  frontend/layouts/FormLayout.tsx
  frontend/layouts/GuestLayout.tsx
  frontend/pages/ConnexionScreen.tsx
  frontend/pages/InscriptionScreen.tsx
  frontend/themes/CustomColors.ts
  frontend/themes/CustomTheme.ts
Labels: front

#49 48 faire le lien entre le front et le back
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  frontend/App.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/UserService/useInscription.ts
  frontend/yarn.lock
Labels: front, back

#50 correct app config
  frontend/App.tsx
Labels: bug
